<div class="flex flex-col flex-auto min-w-0">

    <div class="flex m-5">
      <div class="text-4xl font-extrabold tracking-tight leading-none">Quizzes</div>
    </div>
  
    <div class="m-3">
  
    <div class="flex">
      <div class=" w-full h-10 sm:flex items-center bg-white rounded-lg overflow-hidden px-2 py-1 justify-between m-2">
        <input class="text-base text-gray-400 flex-grow outline-none px-2 " type="text" (keyup)="applyFilter($event)"
          placeholder="Search " />
      </div>
    </div>
    <div class="grid grid-cols-3 gap-24">
        <div *ngFor="let quizz of dataSource" class="bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
          <div class="p-6">
            <h3 class="text-xl font-semibold mb-2">{{ quizz.title }}</h3>
            <!-- <p class="text-gray-700">Rating: {{ quizz.rating }}%</p> -->
            <div class="flex items-center justify-between mt-4">
              <!-- <span class="text-lg font-bold">{{ quizz.price | currency }}</span> -->
              <button mat-button color="primary"  [routerLink]="['/user', 'quizzes',quizz.id]">Participate</button>
            </div>
          </div>
        </div>
      </div>
  </div>