<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <form [formGroup]="questionForm">
        <mat-form-field class="w-full">
            <mat-label>Question Content</mat-label>
            <input matInput formControlName="content">
            <mat-error *ngIf="questionForm.get('content').hasError('required')">Content is required</mat-error>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onSave()">Save</button>
</div>
