<!-- Start Footer -->
<footer class="py-8 bg-slate-800 dark:bg-gray-900">
    <div class="container">
        <div class="grid md:grid-cols-12 items-center">
            <div class="md:col-span-3">
                <a href="#" class="logo-footer">
                    <img src="assets/images/logo-light.png" class="md:ms-0 mx-auto" alt="">
                </a>
            </div>

            <div class="md:col-span-5 md:mt-0 mt-8">
                <div class="text-center">
                    <p class="text-gray-400">©
                        <script>document.write(new Date().getFullYear())</script> Upwind. Design & Develop with <i
                            class="mdi mdi-heart text-orange-700"></i> by <a href="https://shreethemes.in/"
                            target="_blank" class="text-reset">Shreethemes</a>.
                    </p>
                </div>
            </div>

            <div class="md:col-span-4 md:mt-0 mt-8">
                <ul class="list-none foot-icon ltr:md:text-right rtl:md:text-left text-center">
                    <li class="inline"><a href="https://1.envato.market/upwind-angular" target="_blank"
                            class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"><i
                                class="uil uil-shopping-cart align-middle" title="Buy Now"></i></a></li>
                    <li class="inline"><a href="https://dribbble.com/shreethemes" target="_blank"
                            class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"><i
                                class="uil uil-dribbble align-middle" title="dribbble"></i></a></li>
                    <li class="inline"><a href="https://www.behance.net/shreethemes" target="_blank"
                            class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"><i
                                class="uil uil-behance align-middle" title="Behance"></i></a></li>
                    <li class="inline"><a href="http://linkedin.com/company/shreethemes" target="_blank"
                            class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"><i
                                class="uil uil-linkedin align-middle" title="Linkedin"></i></a></li>
                    <li class="inline"><a href="https://www.facebook.com/shreethemes" target="_blank"
                            class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"><i
                                class="uil uil-facebook-f align-middle" title="facebook"></i></a></li>
                    <li class="inline"><a href="https://www.instagram.com/shreethemes/" target="_blank"
                            class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"><i
                                class="uil uil-instagram align-middle" title="instagram"></i></a></li>
                    <li class="inline"><a href="https://twitter.com/shreethemes" target="_blank"
                            class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"><i
                                class="uil uil-twitter align-middle" title="twitter"></i></a></li>
                    <li class="inline"><a href="mailto:support@shreethemes.in"
                            class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"><i
                                class="uil uil-envelope align-middle" title="email"></i></a></li>
                    <li class="inline"><a href="https://forms.gle/QkTueCikDGqJnbky9" target="_blank"
                            class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"><i
                                class="uil uil-file align-middle" title="customization"></i></a></li>
                </ul><!--end icon-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
<!-- End Footer -->